In [8]:
import yfinance as yf


import warnings
warnings.filterwarnings("ignore")

In [21]:
niftystock_data = yf.Ticker("^NSEI") 
bnstock_data = yf.Ticker("^NSEBANK")
niftymidc = yf.Ticker("^NSEMDCP50")
indiavix = yf.Ticker("^INDIAVIX")
niftysmlcap = yf.Ticker("NIFTYSMLCAP50.NS")
niftyit = yf.Ticker("^CNXIT")
niftyauto = yf.Ticker("^CNXAUTO")
niftyfinserv = yf.Ticker("NIFTY_FIN_SERVICE.NS")
niftypsubank = yf.Ticker("^CNXPSUBANK")
niftypharma = yf.Ticker("^CNXPHARMA")

In [86]:
df =niftypsubank.history("ytd")[["Open","High","Low","Close","Volume"]]

In [84]:
stocks=[niftystock_data,bnstock_data,niftymidc,indiavix,niftysmlcap,niftyit,niftyfinserv,niftyauto,niftypsubank,niftypharma]

In [85]:
df.shape

(113, 6)

In [123]:
niftystock_data.history("yy")[::-1]

^NSEI: Period 'yy' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [121]:
import pandas as pd
import numpy as np

In [87]:
df.index=pd.to_datetime(df.index).date

In [95]:
from datetime import datetime
from datetime import timedelta

In [89]:
df.head()

                   Open         High          Low        Close   Volume
2024-01-02  5759.950195  5811.399902  5684.750000  5735.000000  2105700
2024-01-03  5740.049805  5841.750000  5700.350098  5801.049805  3532300
2024-01-04  5810.850098  5875.350098  5803.350098  5860.899902  2156600
2024-01-05  5886.649902  5908.899902  5783.350098  5838.450195  2038100
2024-01-08  5825.549805  5826.100098  5680.850098  5691.399902  1859400

In [124]:
startDate = datetime(2024, 6,20)
 
# endDate , as per our convenience we can modify
endDate = datetime(2024, 6,21)

In [128]:
df['Change'] = np.where((df["Open"]<df["Close"]),"Positive","Negative")
date=datetime(2024, 6, 21)
end_date=(date+timedelta(days=1)).date()

In [92]:
df=df.drop("change",axis=1)

KeyError: "['change'] not found in axis"

In [101]:
timedelta(days=1)

datetime.timedelta(days=1)

In [107]:
end_date

datetime.date(2024, 6, 22)

In [108]:
input_text = (
        f"Daily Stock Report\n\n"
        f"Executive Summary:\n"
      
        
    )

In [109]:
type(input_text)

str

In [ ]:
for stock in stocks:
    df=stock.history(start=startDate,  end=endDate)
    input_text += (
        f"${stock:.2f} ended on a  ${df["Change"]:.2f} note.  and closed at ${df["Close"]} \n"
        
    )

In [130]:
niftystock_data.history(start=startDate,  end=endDate)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-06-20 00:00:00+05:30,23586.150391,23624.0,23442.599609,23567.0,280300,0.0,0.0

In [129]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Change
Date,,,,,,,,
2024-06-19 00:00:00+05:30,23629.849609,23664.0,23412.900391,23516.0,328800,0.0,0.0,Negative

In [127]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-06-19 00:00:00+05:30,23629.849609,23664.0,23412.900391,23516.0,328800,0.0,0.0

In [133]:
import yfinance as yf
import pandas as pd

# List of Nifty 50 ticker symbols
nifty_50_tickers = [
    "RELIANCE.NS", "HDFCBANK.NS", "INFY.NS", "ICICIBANK.NS", "TCS.NS",
    "KOTAKBANK.NS", "HINDUNILVR.NS", "SBIN.NS", "HDFC.NS", "BHARTIARTL.NS",
    "BAJFINANCE.NS", "ASIANPAINT.NS", "ITC.NS", "AXISBANK.NS", "LT.NS",
    "HCLTECH.NS", "MARUTI.NS", "SUNPHARMA.NS", "TITAN.NS", "TATASTEEL.NS",
    "ULTRACEMCO.NS", "WIPRO.NS", "NTPC.NS", "POWERGRID.NS", "TECHM.NS",
    "INDUSINDBK.NS", "SBILIFE.NS", "DIVISLAB.NS", "M&M.NS", "DRREDDY.NS",
    "ADANIENT.NS", "HINDALCO.NS", "TATAMOTORS.NS", "GRASIM.NS", "ONGC.NS",
    "BAJAJFINSV.NS", "JSWSTEEL.NS", "BPCL.NS", "BRITANNIA.NS", "CIPLA.NS",
    "APOLLOHOSP.NS", "EICHERMOT.NS", "HEROMOTOCO.NS", "UPL.NS", "COALINDIA.NS",
    "TATACONSUM.NS", "SHREECEM.NS", "ADANIPORTS.NS", "NESTLEIND.NS", "HDFCLIFE.NS"
]

# Function to fetch data
def fetch_stock_data(ticker_list):
    all_data = {}
    for ticker in ticker_list:
        print(f"Fetching data for {ticker}")
        stock = yf.Ticker(ticker)
        hist = stock.history(start=startDate,  end=endDate)[["Open", "High", "Low", "Close", "Volume"]]
        all_data[ticker] = hist
    return all_data

# Fetch data for all Nifty 50 stocks
nifty_50_data = fetch_stock_data(nifty_50_tickers)

# Convert to a DataFrame for better visualization (optional)
df_combined = pd.concat(nifty_50_data, axis=1)
df_combined.columns = pd.MultiIndex.from_tuples(df_combined.columns)
df_combined.head()

# Save to CSV (optional)
df_combined.to_csv('nifty_50_data.csv')

Fetching data for RELIANCE.NS
Fetching data for HDFCBANK.NS
Fetching data for INFY.NS
Fetching data for ICICIBANK.NS
Fetching data for TCS.NS
Fetching data for KOTAKBANK.NS
Fetching data for HINDUNILVR.NS
Fetching data for SBIN.NS
Fetching data for HDFC.NS

$HDFC.NS: possibly delisted; No timezone found

Fetching data for BHARTIARTL.NS
Fetching data for BAJFINANCE.NS
Fetching data for ASIANPAINT.NS
Fetching data for ITC.NS
Fetching data for AXISBANK.NS
Fetching data for LT.NS
Fetching data for HCLTECH.NS
Fetching data for MARUTI.NS
Fetching data for SUNPHARMA.NS
Fetching data for TITAN.NS
Fetching data for TATASTEEL.NS
Fetching data for ULTRACEMCO.NS
Fetching data for WIPRO.NS
Fetching data for NTPC.NS
Fetching data for POWERGRID.NS
Fetching data for TECHM.NS
Fetching data for INDUSINDBK.NS
Fetching data for SBILIFE.NS
Fetching data for DIVISLAB.NS
Fetching data for M&M.NS
Fetching data for DRREDDY.NS
Fetching data for ADANIENT.NS
Fetching data for HINDALCO.NS
Fetching data for TATAMOTORS.NS
Fetching data for GRASIM.NS
Fetching data for ONGC.NS
Fetching data for BAJAJFINSV.NS
Fetching data for JSWSTEEL.NS
Fetching data for BPCL.NS
Fetching data for BRITANNIA.NS
Fetching data for CIPLA.NS
Fetching data for APOLLOHOSP.NS
Fetching data for EICHERMOT.NS
Fetching data for HEROMOTOCO.NS
Fetching data for UPL.NS
Fetching data for COALINDIA.NS
Fetching data for TATACONSUM.NS
Fetching data for SHREECEM.NS
Fetching data for ADANIPORTS.NS
Fetching data for NESTLEIND.NS
Fetching data for HDFCLIFE.NS

In [135]:
df_combined.T

Date                2024-06-20 00:00:00+05:30
RELIANCE.NS Open                 2.918000e+03
            High                 2.965700e+03
            Low                  2.900200e+03
            Close                2.947400e+03
            Volume               8.056888e+06
...                                       ...
HDFCLIFE.NS Open                 5.941793e+02
            High                 5.954749e+02
            Low                  5.807251e+02
            Close                5.881000e+02
            Volume               6.133067e+06

[250 rows x 1 columns]